.App{
    text-align: center;

    h1{
       
        font-size: 40px;
    }
    .container-Candidatos{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
}

