.rodape{
    font-weight: bolder;
    font-size: auto;
    margin: 20%;
    
    footer{
        width: 100%;
        display: block;
        align-items: center;
        span{
            margin: 10px;
            width: 100%;
            
        }
    }
}